<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tivoli Documentation for {{componentName}}</title>
    <base href="{{apiPath}}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="sha384-2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/github-markdown-css/2.4.1/github-markdown.min.css">
    <style>
        .doc {
            margin: 1em;
        }
        h1 {
            font-weight: bold;
        }
        h1, h2, h3 {
            margin: 1em 0;
        }
        h1, h2 {
            border-bottom: 1px solid gainsboro;
            padding-bottom: 0.3em;
        }
        pre {
            background-color: aliceblue;
            padding: 1em;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-full navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">Winther</a>
</nav>

<main class="doc">
    {{{markup}}}
</main>

</div>
</body>
</html>