<header class="header">
  <h1 class="header__title">Møøøøø</h1>
  <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
  <button id="butAdd" class="headerButton" aria-label="Add"></button>
</header>

<main class="main site-main--home">
  <rwr-ku class="ku">
    <blockquote class="oval-speech-border">
        <p>Mooo, moo</p>
      </blockquote>
      <img class="img-circle img-component" src="assets/cow.svg" alt="component" />
  </rwr-ku>  
</main>

<script>
  if ('caches' in window) {
    console.log('caches');
  }
</script>

<footer class="site-footer">
  <nav class="site-nav">
    <ul>
      <li>
        <img class="img-circle img-component" src="assets/cow_head.svg" alt="cow" />        
        <span>Start</span>
      </li>
      <li>
        <a href="/api/rwr/kuerliste/preview">
          <img class="img-circle img-component" src="assets/plus.svg" alt="cow" />        
          <span>Liste</span>
        </a>
      </li>
      <li>
        <img class="img-circle img-component" src="assets/day.svg" alt="Dag" />        
        <span>Kalender</span>
      </li>
    </ul>
  </nav>  
</footer>
