<header class="header">
  <h1 class="header__title">Møøøøø</h1>
  <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
  <button id="butAdd" class="headerButton" aria-label="Add"></button>
</header>
<main class="main site-main--home">
  <section class="cows-list">
    <!-- Form for new Todo Items -->
    <form id="new-cow-form" method="POST" action="#">
      <input type="text" name="new-cow" id="new-cow" placeholder="Legg inn noe om en ku..." required>
      <label>Navn<input type="text" name="new-cow-name" id="new-cow-name" placeholder="Navn..." required></label>
      <label>Dato<input type="date" name="new-cow-date" id="new-cow-date" placeholder="Dato..." required></label>
      <button onclick="submit">Add data </button>
    </form>

    <!-- Todo Item List -->
    <ul id="cow-items"></ul>
  </section>
  
  
  
  <moo-list class="moo-list">
  </moo-list>  
</main>

<script>
  if ('caches' in window) {
    console.log('caches');
  }
</script>

<footer class="site-footer">
  <nav class="site-nav">
    <ul>
      <li>
        <a href="/api/rwr/kuer/preview">
        <img class="img-circle img-component" src="assets/cow_head.svg" alt="cow" />        
        <span>Start</span>
        </a>
      </li>
      <li>
        <img class="img-circle img-component" src="assets/plus.svg" alt="Legg til" />        
        <span>Liste</span>
      </li>
      <li>
        <img class="img-circle img-component" src="assets/day.svg" alt="Dag" />        
        <span>Kalender</span>
      </li>
    </ul>
  </nav>
</footer>
